@page "/old_counter"
@using System 
@using System.IO
@using System.Diagnostics
@using System.ComponentModel
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@using SylexeRadzen.SQLManagement.Services;
@inject ILogger<Analyze> Logger
@inject IWebHostEnvironment WebEnvironment
@inject ISylexeReportsServices _sylexeService
@inject NotificationService NotificationService

<PageTitle>Analyse</PageTitle>

<RadzenStack Orientation="@orientation" Gap="@gap" Reverse="@reverse" JustifyContent="@justifyContent" AlignItems="@alignItems" Style="height: 350px">
    <RadzenRow Style="">
        <RadzenColumn Style="text-align: center">
            <h1>TRIVY</h1>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow Style="background-color:#D7DBE0;padding: 10px;border-radius: 10px;width: 50%">
        <RadzenColumn Style="text-align: center">
            Nom conteneur docker
        </RadzenColumn>
        <RadzenColumn Style="text-align: center">
            Chemin du docker
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow Style="background-color:#D7DBE0;padding: 10px;margin-top: -25px;border-radius: 10px;width: 50%">
        <RadzenColumn Style="text-align: center">
            <input type="text" @bind-value="@docker.Name" @bind-value:event="oninput" readonly="true"/>
        </RadzenColumn>
        <RadzenColumn Style="text-align: center">
            <input type="text" @bind-value="@pathForDocker" @bind-value:event="oninput" readonly="true"/>
        </RadzenColumn>
    </RadzenRow>
    
    <RadzenRow Style="background-color:#D7DBE0;padding: 10px;border-radius: 10px;width: 50%">
        <RadzenColumn Style="text-align: center;">
            Taille fichier max
        </RadzenColumn>
        <RadzenColumn Style="text-align: center">
            Nombre max de fichiers acceptés
        </RadzenColumn>
        </RadzenRow>
    <RadzenRow Style="background-color:#D7DBE0;padding: 10px;margin-top: -25px;border-radius: 10px;width: 50%">
        <RadzenColumn Style="text-align: center">
            <input type="number" @bind="maxFileSize" max-length="5" readonly="true"/>
        </RadzenColumn>
        <RadzenColumn Style="text-align: center">
            <input type="number" @bind="maxAllowedFiles" max-length="1" readonly="true"/>
        </RadzenColumn>
    </RadzenRow>
    
    <RadzenRow Style="background-color:#D7DBE0;padding: 10px;border-radius: 10px;width: 21%">
        <RadzenColumn Style="text-align: center">
            <InputFile OnChange="@LoadFiles" multiple />
        </RadzenColumn>
    </RadzenRow>
    
    <RadzenRow Style="background-color:transparent;padding: 10px;border-radius: 10px;width: 50%">
        <RadzenColumn Style="text-align: center">
            <RadzenButton Shade="Shade.Darker" Click=@(args => ExecTrivyScan(docker.Name)) Text="Execute Scan" ButtonStyle="ButtonStyle.Secondary" />
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>

@if (isLoading)
{
        <p>Uploading...</p>
}
else
{
        <ul>
        @foreach (var file in loadedFiles)
        {
                    <li>
                        <ul>
                            <li>Name: @file.Name</li>
                            <li>Last modified: @file.LastModified.ToString()</li>
                            <li>Size (bytes): @file.Size</li>
                            <li>Content type: @file.ContentType</li>
                        </ul>
                    </li>
        }
        </ul>
}

@code {
    private List<IBrowserFile> loadedFiles = new();
    private long maxFileSize = 1024 * 15;
    private int maxAllowedFiles = 3;
    private bool isLoading;
    public string pathForDocker = "";
    public class Docker
    {
        public string Name { get; set; }
    }

    public Docker docker = new()
        {
            Name = "aquasec/trivy:0.34.0"
        };

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                loadedFiles.Add(file);

                var trustedFileNameForFileStorage = Path.GetRandomFileName();
                var path = Path.Combine(WebEnvironment.ContentRootPath,
                        WebEnvironment.EnvironmentName, "unsafe_uploads",
                        trustedFileNameForFileStorage);

                await using FileStream fs = new(path, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {Filename} Error: {Error}",
                    file.Name, ex.Message);
            }
        }

        isLoading = false;
    }

    void ExecTrivyScan(string DockerScan)
    {
        Process serverSideProcess = new Process();
        //docker run -v C: \Users\lesgu\result:/ result aquasec / trivy:0.34.0 - d image - f json - o / result / rat.json aquasec / trivy:0.34.0
        serverSideProcess.StartInfo.FileName = Environment.GetEnvironmentVariable("docker");
        serverSideProcess.StartInfo.FileName = @"C:\Program Files\Docker\Docker\resources\bin\docker.exe";
        var path = Path.Combine(WebEnvironment.ContentRootPath, WebEnvironment.EnvironmentName);
        serverSideProcess.StartInfo.Arguments = String.Format("run -v {0}:/result aquasec/trivy:0.34.0 -d image -f json -o /result/rat.json {1}", pathForDocker, DockerScan);
        serverSideProcess.EnableRaisingEvents = true;
        serverSideProcess.StartInfo.UseShellExecute = true;
        serverSideProcess.Start();
    }
    
    Orientation orientation = Orientation.Vertical;
    AlignItems alignItems = AlignItems.Center;
    JustifyContent justifyContent = JustifyContent.Center;
    FlexWrap wrap = FlexWrap.NoWrap;
    string gap = "10px";
    bool reverse;
    private void OnClick(string text)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Button Clicked", Detail = text });
    }

}